*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,42,102,1) 100%);
}

.users{
    display: grid;
    /* grid-template-columns: 18rem auto; */
    margin: 2rem 0;
    position: relative;
    background-image: linear-gradient(to right, #4851ff, #f02aa6);
    color: #fff;

    


}

.user{
     border: 2px solid;
     padding: 1rem ;
}

.icons{
    position: absolute;
    right: 0;
    margin-top: 1rem;
    padding-right: 0.8rem;
    cursor: pointer;
    
}

.user-deleting-transition{
    opacity: 0;
    transition: opacity 2s ease-out;
}


@media screen and (min-width:989px) {
   .user{
        display: grid;
     grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
     /* background-color: red; */
     /* display: none;  */
   } 
}


