* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  /* max-width: 1400px; */
  margin: 0 auto;
}

html{
  font-size: 12px;
}


nav {
  height: 80px;
  background-color: #4838DF;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 50;
}
.logoContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.icon{
  color: #fff;
}
.logo{
  width: 200px;
  object-fit: cover;
}
.nav-essentials{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.nav-icons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-icon span{
  opacity: 0.5;
}
.nav-icon {
  display: flex;
  position: relative;
  cursor: pointer;
}
.red-circle{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
}
.searchBox{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius:0.5rem ;
  gap: 1rem;
}
.searchBox span{
  color: #4F5D73;
  opacity: 0.6;
}
.searchBox input{
  border: 0;
  outline: 0;
  color: #4F5D73;
}
.searchBox input::placeholder{
  font-size: 1.2rem;
  color: #4F5D73;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.img-circle{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  bottom: 0.5rem;
  z-index: 50;
  border: 2px solid #fff;
}

.success{
  background-color: #3DBD68;
}
.danger{
  background-color: #E76161;
}
.warning{
  background-color: #F9B31B;
}
.container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  height: calc(100vh - 80px);
  background-color: #f1f4f9;
  gap: 30px;
  /* overflow: hidden; */
}

.left {
  background-color: white;
  padding: 3rem;
  color: gray;
  cursor: pointer;
}

.middle {
  background-color: #fff;
  margin: 1.5rem 0;
  border-radius: 20px;
  padding: 3rem;
  overflow-y: scroll;
  position: sticky !important;
  top: 4rem;
}
.middle::-webkit-scrollbar{
  display: none;
}

.mid-header {
  display: flex;
  justify-content: space-between;
}

.aside {
  height: 100vh;
}

.left .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.4rem;
}

.con-content {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;

}

.mid-content {
  margin-top: 20px;

}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.items-cont {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bot-content {
  margin-top: 20px;
}

.message-box {
  /* background-color: rgb(118, 118, 212); */
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  border-radius: 0.5rem;
}

.middle {
  background-color: #fff;
  margin: 1.5rem 0;
  border-radius: 20px;
  padding: 3rem ;
}

.mid-header{
  display: flex;
  justify-content: space-between;
}

.mid-header-left h2{
  font-weight: bold;
  font-size: 3rem;
  color: #1c2d47;
}

.mid-header-left p{
  color: #4F5D73;
  font-size: 1.8rem;
  margin-top: 5px;
}

.mid-header-right{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #444a56;
  background-color: #ECEDEF;
  padding: 1rem 2rem;
  height: max-content;
  border-radius: 10px;
  cursor: pointer;
}
.mid-header-right p{
  color: #1c2d47;
  font-size: 1.8rem;
}

table{
  width: 100%;
  margin-top: 5rem;
  border-collapse: collapse;
}
tbody{
  margin-top: 0.5rem;
}
tr{
  border-bottom: 0.2px solid rgb(215, 212, 212);
  color:#747B81 ;
  font-size: 1.4rem;
}

th{
  text-align: left;
  color: #6f819d;
  font-size: 1.3rem;
}

.user-details{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.user-details h3, .percentage, .timeline{
  font-size: 1.7rem;
  font-weight: bold;
  color:#4b5763 ;
}

td{
  padding: 1.4rem 0;
}

.table-flag{
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 1px;
  overflow: hidden;
}
.table-icon{
  position: relative;
  width: max-content;
}

.progress-bar{
  margin-top: 4px;
  width: 80%;
  border-radius: 20px;
  background-color: #a8a9aa;
  height: 5px;
}
.progress50{
  width: 50%;
  background-color: #3DBD68;
  border-radius: 20px;
  height: 5px;
}

.progress10{
  width: 10%;
  background-color: #3d2bdd;
  border-radius: 20px;
  height: 5px;
}
.progress74{
  width: 74%;
  background-color: #F9B31B;
  border-radius: 20px;
  height: 5px;
}
.progress98{
  width: 98%;
  background-color: #E76161;
  border-radius: 20px;
  height: 5px;
}
.progress45{
  width: 45%;
  background-color: #1343a2;
  border-radius: 20px;
  height: 5px;
}

.progress43{
  width: 15%;
  background-color: #28a0b8;
  border-radius: 20px;
  height: 5px;
}
.action{
  cursor: pointer;
}
.right {
  background-color: rgb(236, 246, 247);
  display: block;
  padding: 1rem;
  color: white;
 overflow-y: scroll;
 width: 100%;
}

.right::-webkit-scrollbar{
  display: none;
}

.card {
  height: 200px;
  width: 100%;
  margin-bottom: 15%;
  border-radius: 5%;
  padding-top: 15px;
  padding-left: 10px;
  position: relative;
}

.dot-icon {
  position: absolute;
  right: 10px;
  top: 15px;
}


.card .info{
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  width: 85%;
  font-size: 2.1rem;
  position: relative;
}

.card .info p {
  scale: 0.6;
  display: flex;

}

.card p {
  font-size: 1.7rem;
  color: #fff;
  margin: 1rem;

}
.card1 {
  background-color: #4838DF;
}

.card2 {
  background-color: rgb(250, 184, 3);
}

.card3 {
  background-color: rgb(239, 30, 113);
}
.badge-blue {
  background-color: rgb(66, 66, 201);
  color: #fff;
}

.badge-purple {
  background-color: rgb(206, 101, 118);
  color: #fff;
}

@media screen and (max-width: 430px) {
  body::-webkit-scrollbar{
    display: none;
  }
  .container {
    grid-template-columns: 15% auto;
    gap: 1px;
  }
  .left{
    opacity: 0.9;
  }
  .middle{
    width: 100%;
    margin-top: -10px;
    margin-left: 10px;
    padding: 2rem 2rem;
    background-color: #fff;
    margin-bottom: 5rem !important;
  }
  .items-cont h3, .list-items span, h4, .searchBox, .arrow-left{
    display: none;
  }
  .items-cont span{
    display: block;

  }
  thead, .mid-header-right{
    display: none;
  }
 
  tbody tr {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px rgb(79, 113, 177);
   align-items: center;
   justify-content: center;
   margin: 1rem 0.2rem;
  }

 tbody tr:hover{
  background-color: #4838DF;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  text-align: center !important;
 }

  tbody td.table-icon{
    display: block;
  }
  
  .mid-header{
    flex-direction: column;
    gap: 2rem;
  }
  .logoContainer{
    gap: 0.5rem;
  }
  nav {
    gap: 1rem;
    padding: 0;
  }
  .rosc{
    display: none;
  }
}
@media screen and (min-width:768px ) and (max-width:1114px) {
  .right,  .searchBox, .arrow-left{
   display: none;
  }
  .container {
   grid-template-columns: 10% auto;
   gap: 1px;
 }
 .items-cont h3, .list-items span, h4{
  display: none;
}
.items-cont span{
  display: block;
}
  .middle{
   overflow-x: hidden;
  }
  .user-details p, .usageContainer p, .timeline, .lastLogin{
   font-size: 1.02rem;
 }
 td{
   padding: 5px !important;
  }
  .nav-icons{
   position: absolute;
   right: 10px;
  }
 
 }
 

@media screen and (min-width:768px ) and (max-width:1114px) {
  .right,  .searchBox, .arrow-left{
   display: none;
  }
  .container {
   grid-template-columns: 10% auto;
   gap: 1px;
 }
 .items-cont h3, .list-items span, h4{
  display: none;
}
.items-cont span{
  display: block;
}
  .middle{
   overflow-x: hidden;
  }
  .user-details p, .usageContainer p, .timeline, .lastLogin{
   font-size: 1.02rem;
 }
 td{
   padding: 5px !important;
  }
  .nav-icons{
   position: absolute;
   right: 10px;
  }
 
 }
 
 @media screen and (min-width: 1280px) and (max-width: 1400px) {
   .user-details p, .usageContainer p, .timeline, .lastLogin{
     font-size: 1.02rem;
   }
   .container {
     gap: 10px;
     grid-template-columns: 18% auto 18%;
   }
   td{
     padding: 5px !important;
    }
 }